<div class="review-form__dialog">
  <div class="review-form__header">
    <div class="review-form__header-title">{{address}}</div>
    <button class="review-form__header-close"></button>
  </div>

  <div class="review-form__body">
    <ul class="review-form__list">
      <li class="review-form__list-item"></li>
      <li class="review-form__list-item"></li>
    </ul>

    <div class="review-form__form"></div>
  </div>

  <div class="review-form__footer">
    <button class="btn">Добавить</button>
  </div>
</div>