<div class="review-form__dialog">
    <div class="review-form__header">
        <div class="review-form__header-title">{{address}}</div>
        <button class="review-form__header-close" id="closeDialog"></button>
    </div>

    <div class="review-form__body">
        <div class="review-form__section">
            <div class="review-form__section-title">
                Отзывов пока нет...
            </div>
        </div>

        <div class="review-form__section">
            <div class="review-form__section-title">
                Ваш отзыв
            </div>

            <form class="review-form__form">
                <fieldset class="review-form__fieldset">
                    <input class="review-form__input" id="reviewName" name="reviewName" placeholder="Ваше имя" required>
                </fieldset>

                <fieldset class="review-form__fieldset">
                    <input class="review-form__input" id="reviewPlace" name="reviewPlace" placeholder="Укажите место"
                           required>
                </fieldset>

                <fieldset class="review-form__fieldset">
                    <textarea class="review-form__textarea" id="reviewComment" name="reviewComment"
                              placeholder="Поделитесь впечатлениями" required></textarea>
                </fieldset>

                <button type="submit" class="btn">Добавить</button>
            </form>
        </div>
    </div>
</div>